:root {
  --background: #2d2d2d;
  --lgrbuttons: #f48024;
  --font: white;
  --links: black;
}

body {
  background-color: var(--background);
  background-image: url("/src/media/stars.png");
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  color: var(--font);
  font-family: "JetBrains Mono", monospace;
}

.name {
  font-family: "Cedarville Cursive", cursive;
  font-size: 30px;
}

.workTitle {
  text-align: center;
  margin-top: 20px;
}

.arrow {
  fill: var(--font);
}

#sectionL {
  width: 60%;
  margin-left: 20px;
  margin-right: 20px;
}

.contactLinks {
  background-color: inherit;
  border-style: solid;
  border-color: var(--lgrbuttons);
}

svg:hover {
  fill: var(--lgrbuttons);
}

/* #sectionR {
  background-color: rgb(155, 57, 57);
  width: 20%;
} */

.btns,
a {
  color: var(--font);
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  border-style: solid;
  border-color: var(--lgrbuttons);
  text-decoration: none;
  /* background-color: var(--lgrbuttons); */
}

a:hover {
  color: var(--lgrbuttons);
  /* text-decoration:; */
  text-transform: uppercase;
  font-style: italic;
}

.nav {
  background-color: #393939;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.justLinks {
  border-style: none;
  color: var(--font);
  text-decoration: underline;
}

.intro {
  text-align: center;
  margin-top: 500px;
  margin-bottom: 500px;
}
.err404 {
  margin-top: 30px;
}
