:root {
  --background: #2d2d2d;
  --lgrbuttons: #f48024;
  --btnPadding: 15px;
  --accent: #5e9eff;
  --font: white;
  --links: black;
  --radius: 15px;
  --border: 3px;
}

body {
  background-color: var(--background);
  background-image: url("/src/media/stars.png");
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  color: var(--font);
  font-family: "JetBrains Mono", monospace;
}

.name {
  font-family: "Cedarville Cursive", cursive;
  font-size: 30px;
}

.workTitle {
  text-align: center;
  margin-top: 20px;
}

.arrow {
  fill: var(--font);
}

#sectionL {
  width: 60%;
  margin-left: 20px;
  margin-right: 20px;
}

.contactLinks {
  background-color: inherit;
  padding: var(--btnPadding);
  border-style: solid;
  border-color: var(--accent);
}

svg:hover {
  fill: var(--lgrbuttons);
}

/* #sectionR {
  background-color: rgb(155, 57, 57);
  width: 20%;
} */

.btns,
a {
  color: var(--font);
  padding: var(--btnPadding);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: var(--radius);
  border-style: solid;
  border-color: var(--lgrbuttons);
  border-width: var(--border);
  text-decoration: none;
  text-decoration: underline;
  /* background-color: var(--lgrbuttons); */
}

a:hover {
  color: var(--lgrbuttons);
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
}

.nav {
  background-color: #393939;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.justLinks {
  border-style: none;
  padding: 0px;
  color: var(--font);
  text-decoration: underline;
}

.skills {
  margin-left: 5px;
  margin-right: 5px;
  padding: var(--btnPadding);
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: var(--border);
  border-style: solid;
  border-color: var(--accent);
  border-radius: var(--radius);
}

.intro {
  text-align: center;
  margin-top: 500px;
  margin-bottom: 500px;
}
.err404 {
  margin-top: 30px;
}

#carousel {
  margin: auto;
  width: 70%;
  /* background-color: #f48024; */
  overflow: auto;
}

#about {
  margin: auto;
  width: 70%;
}

@media only screen and (max-width: 400px) {
  #carousel {
    width: 90%;
  }
  #about {
    width: 90%;
  }
}
